<div class="back-button">
  <button (click)="goToDashboard()">⬅</button>
</div>
<section class="project-edit">
  <h2>Modifier projet</h2>
  <div>
    <div class="project-edit-info">
      <label>
        Nom :
        <input type="text" [(ngModel)]="editProject.name" [disabled]="!canModifyProject()" />
      </label>
      <label>
        Date début :
        <input type="date" [(ngModel)]="editProject.startDate" [disabled]="!canModifyProject()" />
      </label>
      <label>
        Description :
        <textarea
          [(ngModel)]="editProject.description"
          [disabled]="!canModifyProject()"
          rows="4"
        ></textarea>
      </label>
    </div>
    <div class="project-edit-member">
      <h3>Membres</h3>
      <ul>
        <li *ngFor="let member of members; trackBy: trackByMemberId">
          {{ member.user.username }} - {{ member.role }}
          <button
            *ngIf="canModifyProject()"
            class="remove-member-btn"
            (click)="removeMember(member.id)"
          >
            ×
          </button>
        </li>
        <li *ngIf="members.length === 0">Aucun membre</li>
      </ul>

      <div *ngIf="canModifyProject()" class="invite-section">
        <h4>Inviter membre</h4>
        <div style="display: flex">
          <input
            style="flex: 2"
            type="email"
            placeholder="Email"
            [(ngModel)]="inviteEmail"
            (ngModelChange)="onInviteEmailChange()"
            [class.invalid]="inviteErrorMessage"
          />
          <select [(ngModel)]="inviteRole" style="flex: 1">
            <option value="ADMIN">Admin</option>
            <option value="MEMBER">Membre</option>
            <option value="OBSERVER">Observateur</option>
          </select>
        </div>
        <button
          class="remove-member-btn"
          [disabled]="!inviteEmail || inviteErrorMessage"
          (click)="inviteMember()"
        >
          Inviter
        </button>
        <div class="error" *ngIf="inviteErrorMessage">{{ inviteErrorMessage }}</div>
      </div>
    </div>
  </div>
  <div class="project-edit-task">
    <h3>Tâches</h3>
    <div class="project-edit-task-list">
      <div *ngFor="let task of tasks" class="task-item" [attr.data-task-id]="task.id">
        <div>
          <span *ngIf="editingTaskId !== task.id">{{ task.name }}</span>
          <input *ngIf="editingTaskId === task.id" [(ngModel)]="task.name" type="text" />

          <span *ngIf="editingTaskId !== task.id" style="margin: 0 10px">{{
            task.description
          }}</span>
          <textarea *ngIf="editingTaskId === task.id" [(ngModel)]="task.description"></textarea>

          <span *ngIf="editingTaskId !== task.id">à faire avant le {{ task.dueDate }}</span>
          <input *ngIf="editingTaskId === task.id" type="date" [(ngModel)]="task.dueDate" />

          <span *ngIf="editingTaskId !== task.id">{{ task.priority }}</span>
          <select *ngIf="editingTaskId === task.id" [(ngModel)]="task.priority">
            <option value="LOW">Basse</option>
            <option value="MEDIUM">Moyenne</option>
            <option value="HIGH">Haute</option>
          </select>
        </div>
        <div>
          <!-- Bouton toggle Edit / Save -->
          <button
            *ngIf="editingTaskId !== task.id && canEditTask(task)"
            (click)="editingTaskId = task.id"
          >
            ✏️
          </button>

          <button
            *ngIf="editingTaskId === task.id"
            (click)="editingTaskId = null"
            style="background-color: #e74c3c"
          >
            X
          </button>
          <button *ngIf="editingTaskId === task.id" (click)="saveTask(task); editingTaskId = null">
            O
          </button>
        </div>
      </div>
    </div>
    <form *ngIf="canModifyProject()" (ngSubmit)="addTask()" class="new-task-form">
      <label
        >Nom :
        <input type="text" [(ngModel)]="newTask.name" name="newTaskName" required />
      </label>
      <label
        >Description :
        <textarea [(ngModel)]="newTask.description" name="newTaskDescription"></textarea>
      </label>
      <label
        >Échéance :
        <input type="date" [(ngModel)]="newTask.dueDate" name="newTaskDueDate" required />
      </label>
      <label
        >Priorité :
        <select [(ngModel)]="newTask.priority" name="newTaskPriority">
          <option value="LOW">Basse</option>
          <option value="MEDIUM" selected>Moyenne</option>
          <option value="HIGH">Haute</option>
        </select>
      </label>
      <button type="submit">Ajouter tâche</button>
    </form>
  </div>
  <div class="actions">
    <button *ngIf="canModifyProject()" (click)="saveEdit()">Enregistrer</button>
    <button *ngIf="canModifyProject()" (click)="deleteProject()">Supprimer</button>
  </div>
</section>
