<div class="back-button">
  <button (click)="goToDashboard()">⬅</button>
</div>
<section class="project-edit">
  <h2>Modifier projet</h2>
  <div>
    <div class="project-edit-info">
      <label>
        Nom :
        <input type="text" [(ngModel)]="editProject.name" [disabled]="!canModifyProject()" />
      </label>
      <label>
        Date début :
        <input type="date" [(ngModel)]="editProject.startDate" [disabled]="!canModifyProject()" />
      </label>
      <label>
        Description :
        <textarea
          [(ngModel)]="editProject.description"
          [disabled]="!canModifyProject()"
          rows="4"
        ></textarea>
      </label>
    </div>
    <div class="project-edit-member">
      <h3>Membres</h3>
      <div class="member-flex">
        <ul class="member-list">
          @for (member of members; track trackByMemberId($index, member)) {
          <li>
            {{ member.user.username }} - {{ member.role }} @if (canModifyProject()) {<button
              class="remove-member-btn"
              (click)="removeMember(member.id)"
            >
              ×</button
            >}
          </li>
          } @if (members.length === 0) {
          <li>Aucun membre</li>
          }
        </ul>

        @if (canModifyProject()) {
        <div class="invite-section">
          <h4>Inviter membre</h4>
          <div style="display: flex">
            <input
              style="flex: 2"
              type="email"
              placeholder="Email"
              [(ngModel)]="inviteEmail"
              (ngModelChange)="onInviteEmailChange()"
              [class.invalid]="inviteErrorMessage"
            />
            <select [(ngModel)]="inviteRole" style="flex: 1">
              <option value="ADMIN">Admin</option>
              <option value="MEMBER">Membre</option>
              <option value="OBSERVER">Observateur</option>
            </select>
            <button
              class="add-member-btn"
              [class.active]="inviteEmail && !inviteErrorMessage"
              [disabled]="!inviteEmail || inviteErrorMessage"
              (click)="inviteMember()"
            >
              ✔
            </button>
          </div>
          @if (inviteErrorMessage) {
          <div class="error">{{ inviteErrorMessage }}</div>
          } @if (!inviteErrorMessage) {
          <div class="error">&nbsp;</div>
          }
        </div>
        }
      </div>
    </div>
  </div>
  <div class="project-edit-task">
    <h3>Tâches</h3>
    <div class="project-edit-task-list">
      @for (task of tasks; track task.id) {
      <div
        class="task-item"
        [ngClass]="getTaskStatusClass(task.status)"
        [attr.data-task-id]="task.id"
      >
        <div>
          <!-- Nom de la tâche -->
          <div class="task-field">
            @if (editingTaskId !== task.id) {
            <span class="task-name">Nom : {{ task.name }}</span>
            } @if (editingTaskId === task.id) {
            <input [(ngModel)]="task.name" type="text" class="input-text" />
            }
          </div>

          <!-- Description -->
          <div class="task-field">
            @if (editingTaskId !== task.id) {
            <span class="task-desc">Description : {{ task.description || '—' }}</span>
            } @if (editingTaskId === task.id) {
            <textarea [(ngModel)]="task.description" class="input-textarea"></textarea>
            }
          </div>

          <!-- Date début -->
          <div class="task-field">
            @if (editingTaskId !== task.id) {
            <span class="task-date">A faire pour : {{ task.dueDate }}</span>
            } @if (editingTaskId === task.id) {
            <input type="date" [(ngModel)]="task.dueDate" class="input-date" />
            }
          </div>

          <!-- Priorité -->
          <div class="task-field task-select">
            @if (editingTaskId !== task.id) {
            <span class="task-priority">Priorité : {{ task.priority }}</span>
            } @if (editingTaskId === task.id) {
            <select [(ngModel)]="task.priority" class="input-select">
              <option value="Basse">Basse</option>
              <option value="Medium">Moyenne</option>
              <option value="Haute">Haute</option>
            </select>
            }
          </div>

          <!-- Statut -->
          <div class="task-field task-select">
            @if (editingTaskId !== task.id) {
            <span class="task-status">Status : {{ task.status }}</span>
            } @if (editingTaskId === task.id) {
            <select [(ngModel)]="task.status" class="input-select">
              <option value="etudes">Études</option>
              <option value="en cours">En cours</option>
              <option value="test">Test</option>
              <option value="fait">Fait</option>
            </select>
            }
          </div>
        </div>
        <div>
          <!-- Bouton toggle Edit / Save -->
          @if (editingTaskId !== task.id && canEditTask(task)) {
          <button (click)="editingTaskId = task.id">✏️</button>
          } @if (editingTaskId === task.id) {
          <button (click)="editingTaskId = null" style="background-color: #e74c3c">X</button>
          } @if (editingTaskId === task.id) {
          <button (click)="saveTask(task); editingTaskId = null">O</button>
          }
        </div>
      </div>
      }
    </div>
    @if (canModifyProject()) {
    <form (ngSubmit)="addTask()" class="new-task-form">
      <label>
        Nom :
        <input type="text" [(ngModel)]="newTask.name" name="newTaskName" required />
      </label>
      <label>
        Description :
        <textarea [(ngModel)]="newTask.description" name="newTaskDescription"></textarea>
      </label>
      <label>
        Date de fin :
        <input type="date" [(ngModel)]="newTask.dueDate" name="newTaskStartDate" required />
      </label>
      <label>
        Priorité :
        <select [(ngModel)]="newTask.priority" name="newTaskPriority">
          <option value="Basse">Basse</option>
          <option value="Moyenne" selected>Moyenne</option>
          <option value="Haute">Haute</option>
        </select>
      </label>
      <button type="submit">Ajouter tâche</button>
    </form>
    }
  </div>
  <div class="actions">
    @if (canModifyProject()) {<button (click)="saveEdit()">Enregistrer</button>} @if
    (canModifyProject()) {<button (click)="deleteProject()">Supprimer</button>}
  </div>
</section>
