<div class="task-container">
  <div class="task-list-section">
    <div style="display: flex; justify-content: space-between; align-items: center">
      <h3 style="flex: 2">Tâches du projet</h3>
      <select
        id="statutFilter"
        [value]="statutFilter"
        (change)="onChangeStatutFilter($event)"
        style="width: 100px"
      >
        <option value="all">Tous</option>
        <option value="a_faire">À faire</option>
        <option value="en_cours">En cours</option>
        <option value="terminee">Terminée</option>
        <option value="bloquee">Bloquée</option>
      </select>
    </div>
    @if (filteredTaches.length > 0) {
    <ul>
      @for (tache of filteredTaches; track trackByTacheId($index, tache)) {
      <li (click)="goToTaskEdit(tache)">
        <strong>{{ tache.nom }}</strong>
        <p>{{ tache.description }}</p>
        <div class="task-info">
          <span>Échéance: {{ tache.dateEcheance | date : 'mediumDate' }}</span>
          <span>Priorité: {{ tache.priorite }}</span>
          <span>Assignée à : {{ getAssignationEmail(tache) }}</span>
        </div>
      </li>
      }
    </ul>
    } @if (filteredTaches.length === 0) {
    <p>Aucune tâche disponible.</p>
    }
  </div>

  <div class="task-form-section">
    @if (formReady) {
    <h3>Créer une tâche</h3>
    <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
      <label for="nom">Titre de la tâche</label>
      <input formControlName="nom" id="nom" placeholder="Titre de la tâche" required />

      <label for="description">Description</label>
      <textarea formControlName="description" id="description" placeholder="Description"></textarea>

      <label for="dateEcheance">Date d'échéance</label>
      <input
        formControlName="dateEcheance"
        id="dateEcheance"
        type="date"
        placeholder="Date d'échéance"
      />

      <label for="priorite">Priorité</label>
      <select formControlName="priorite" id="priorite">
        <option value="faible">Faible</option>
        <option value="moyenne" selected>Moyenne</option>
        <option value="haute">Haute</option>
      </select>

      @if (isAdmin) {
      <label for="membreId">Assigner à un membre</label>
      <select formControlName="membreId" id="membreId">
        <option value="">-- Assigner un membre --</option>
        @for (membre of membres; track membre.utilisateurId) {
        <option [value]="membre.utilisateurId">{{ membre.email }}</option>
        }
      </select>
      } @if (!isAdmin) {
      <button type="submit" disabled class="btn-create-task">Créer la tâche</button>
      }
      <button type="submit" class="btn-create-task">Créer la tâche</button>
    </form>
    }
  </div>
</div>
