.signup-form {
  background-color: #f0e6d2;
  height: 500px;
  width: 320px;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.25);

  display: flex;
  flex-direction: column;
  justify-content: center; /* centre verticalement */
  align-items: center; /* centre horizontalement */
  gap: 1.25rem;

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.loginFormH2 {
  text-align: center;
  font-weight: 700;
  margin: 0 0 10px 0;
}

.signup-form label {
  font-weight: 600;
  align-self: flex-start;
  margin-bottom: 0.3rem;
}

.signup-form input {
  width: 100%;
  padding: 0.75rem 1rem;
  border-radius: 8px;
  border: none;
  font-size: 1rem;
  outline-offset: 2px;
  transition: background-color 0.3s ease;
}

.signup-form input:focus {
  outline: 2px solid #fbbf24;
}

.signup-form button {
  width: 100%;
  padding: 0.75rem;
  background-color: #fbbf24;
  border: none;
  border-radius: 10px;
  font-weight: 700;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.signup-form button:hover {
  background-color: #d4a017;
}
