<div class="signup-form">
  <h2 class="loginFormH2">Inscription</h2>

  <!-- Formulaire d'inscription -->
  <form (ngSubmit)="onSubmit()" #f="ngForm">
    <label for="username">Nom d'utilisateur</label>
    <input
      id="username"
      type="text"
      [(ngModel)]="username"
      name="username"
      required
      placeholder="Entrez votre nom d'utilisateur"
    />

    <label for="email">Email</label>
    <input
      id="email"
      type="email"
      [(ngModel)]="email"
      name="email"
      required
      placeholder="Entrez votre email"
    />

    <label for="password">Mot de passe</label>
    <input
      id="password"
      type="password"
      [(ngModel)]="password"
      name="password"
      required
      placeholder="Entrez votre mot de passe"
    />

    <button type="submit">S'inscrire</button>

    <!-- Message de réussite ou d'erreur -->
    @if (message) {
    <div style="color: green">{{ message }}</div>
    }
  </form>

  <!-- Lien vers la page de connexion -->
  <a routerLink="/signin" class="link-button">Connectez-vous</a>
</div>
