<div class="login-form">
  <h2 class="loginFormH2">Connexion</h2>
  <form (ngSubmit)="onSubmit()" #f="ngForm">
    <label for="email">@mail</label>
    <input
      type="email"
      [(ngModel)]="email"
      name="email"
      placeholder="Entrez votre email"
      required
    />
    <label for="password">Mot de passe</label>
    <input
      id="password"
      type="password"
      [(ngModel)]="password"
      name="password"
      placeholder="Entrez votre mot de passe"
      required
    />
    <button type="submit">Se connecter</button>
    @if ( errorMsg ) {
    <div style="color: red">{{ errorMsg }}</div>
    }
  </form>
  <a routerLink="/signup" class="link-button">Inscrivez-vous</a>
</div>
