<div class="login-form">
  <h2 class="loginFormH2">Connexion</h2>
  <form (ngSubmit)="onSubmit()" #f="ngForm">
    <label for="username">Nom d'utilisateur</label>
    <input
      id="username"
      type="text"
      [(ngModel)]="username"
      name="username"
      required
      placeholder="Entrez votre nom d'utilisateur"
    />

    <label for="password">Mot de passe</label>
    <input
      id="password"
      type="password"
      [(ngModel)]="password"
      name="password"
      required
      placeholder="Entrez votre mot de passe"
    />

    <button type="submit">Se connecter</button>
    @if (errorMsg) {
    <div style="color: red">{{ errorMsg }}</div>
    }
  </form>
  <a routerLink="/signup" class="link-button">Inscrivez-vous</a>
</div>
